@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: var(--text-color);
}

:root {
    --main-color: linear-gradient(to right, #1d1420, #2e2935);
    --slder-color: #0b0516;
    --text-color: aliceblue;
    --radio-button-color: #7274fa;
    --radio-button-border-color: ivory;
    --radio-button-color-hover: lavender;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex:
        1 1 auto;
}

body {
    background: var(--main-color);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

input[type="radio"] {
    display: none;
}

.container {
    max-width: 80em;
    padding-inline: 2.5em;
    margin-inline: auto;
}

.header__wrapper {
    width: fit-content;
    padding: 1em 2.5em;
    border: var(--text-color) 4px double;
    border-radius: 10px;
    margin-inline: auto;
    margin-top: 5em;
    margin-bottom: 4em;
}



.slider {
    background-color: var(--slder-color);
    width: 52em;
    border-radius: 10px;
    border: var(--text-color) 4px double;
    overflow: hidden;
}

.slider__inner {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 2em;
    transition: transform 0.2s ease;
}

.slider__line {
    width: 600%;
    display: flex;

}

.slide {
    width: 50em;
    display: block;
    margin-inline: auto;
}

.control-info {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1em;
}

.controls {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-bottom: 2em;
}

.radio-button {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--radio-button-color);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.control-info label {
    width: 3em;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.control-info label:hover .radio-button {
    background-color: var(--radio-button-color-hover);

}


.description {
    font-size: 1.5rem;
    height: 3em;
    width: 40%;
    margin-inline: 1em 0;
    overflow: hidden;
}

.description__inner {
    width: 600%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    transition: margin-left 0.2s ease;
}

.description__inner span {
    width: 100%;
}


#slide-1:checked~.slider .control-info .description .description__inner {
    margin-left: 0;
}

#slide-2:checked~.slider .control-info .description .description__inner {
    margin-left: -100%;
}

#slide-3:checked~.slider .control-info .description .description__inner {
    margin-left: -200%;
}

#slide-4:checked~.slider .control-info .description .description__inner {
    margin-left: -300%;
}

#slide-5:checked~.slider .control-info .description .description__inner {
    margin-left: -400%;
}

#slide-6:checked~.slider .control-info .description .description__inner {
    margin-left: -500%;
}





#slide-1:checked~.slider .slider__inner {
    transform: translateX(0);
}

#slide-2:checked~.slider .slider__inner {
    transform: translateX(-100%);
}

#slide-3:checked~.slider .slider__inner {
    transform: translateX(-200%);
}

#slide-4:checked~.slider .slider__inner {
    transform: translateX(-300%);
}

#slide-5:checked~.slider .slider__inner {
    transform: translateX(-400%);
}

#slide-6:checked~.slider .slider__inner {
    transform: translateX(-500%);
}

#slide-1:checked~.slider .control-info .controls label:nth-child(1) .radio-button {
    border: var(--radio-button-color) 4px solid;
    background-color: transparent
}

#slide-1:checked~.slider .control-info .controls label:nth-child(1):hover .radio-button {
    border-color: var(--radio-button-color-hover);
}

#slide-2:checked~.slider .control-info .controls label:nth-child(2) .radio-button {
    border: var(--radio-button-color) 4px solid;
    background-color: transparent
}

#slide-2:checked~.slider .control-info .controls label:nth-child(2):hover .radio-button {
    border-color: var(--radio-button-color-hover);
}

#slide-3:checked~.slider .control-info .controls label:nth-child(3) .radio-button {
    border: var(--radio-button-color) 4px solid;
    background-color: transparent
}

#slide-3:checked~.slider .control-info .controls label:nth-child(3):hover .radio-button {
    border-color: var(--radio-button-color-hover);
}


#slide-4:checked~.slider .control-info .controls label:nth-child(4) .radio-button {
    border: var(--radio-button-color) 4px solid;
    background-color: transparent
}

#slide-4:checked~.slider .control-info .controls label:nth-child(4):hover .radio-button {
    border-color: var(--radio-button-color-hover);
}

#slide-5:checked~.slider .control-info .controls label:nth-child(5) .radio-button {
    border: var(--radio-button-color) 4px solid;
    background-color: transparent
}

#slide-5:checked~.slider .control-info .controls label:nth-child(5):hover .radio-button {
    border-color: var(--radio-button-color-hover);
}

#slide-6:checked~.slider .control-info .controls label:nth-child(6) .radio-button {
    border: var(--radio-button-color) 4px solid;
    background-color: transparent
}

#slide-6:checked~.slider .control-info .controls label:nth-child(6):hover .radio-button {
    border-color: var(--radio-button-color-hover);
}